let mapleader = ' '

set number
set incsearch hlsearch
set ignorecase smartcase
set clipboard=unnamed
set scrolloff=5
set showmode
set surround

noremap  <c-f> <c-d>
noremap  <c-b> <c-u>
nnoremap <tab> <c-w>w

" inoremap jk <Esc>
" vnoremap jk <Esc>

nnoremap gcc :action CommentByLineComment<cr>

nnoremap <leader>ff :action FindInPath<cr>
nnoremap <leader>fu :action FindUsages<cr>
nnoremap <leader>su :action ShowUsages<cr>
nnoremap <leader>cv :action ChangeView<cr>
nnoremap <leader>bb :action ToggleLineBreakpoint<cr>
nnoremap <leader>br :action ViewBreakpoints<cr>
nnoremap <leader>ic :action InspectCode<cr>
nnoremap <leader>oi :action OptimizeImports<cr>
nnoremap <leader>re :action RenameElement<cr>
nnoremap <leader>rf :action RenameFile<cr>
nnoremap <leader>gq :action ReformatCode<cr>
nnoremap <leader>mv :action ActivateMavenProjectsToolWindow<cr>
nnoremap <leader>dd :action Debug<cr>
nnoremap <leader>dc :action ChooseDebugConfiguration<cr>
nnoremap <leader>rr :action Run<cr>
nnoremap <leader>rc :action ChooseRunConfiguration<cr>
nnoremap <leader>q  :action CloseActiveTab<cr>
nnoremap <leader>ga :action GotoAction<cr>
nnoremap <leader>gi :action GotoImplementation<cr>
nnoremap <leader>gs :action GotoSuperMethod<cr>
nnoremap <leader>gd :action GotoDeclaration<cr>
nnoremap <leader>gt :action GotoTest<cr>
nnoremap <leader>gr :action GotoRelated<cr>
nnoremap <leader>gb :action Annotate<cr>
nnoremap <leader>tl :action ActivateTerminalToolWindow<cr>
vnoremap <leader>tl :action ActivateTerminalToolWindow<cr>
nnoremap ]e :action GotoNextError<cr>
nnoremap [e :action GotoPreviousError<cr>

nnoremap <leader>db :action ActivateDatabaseToolWindow<cr>
nnoremap <leader>mr :action MoveTabRight<cr>
nnoremap <leader>md :action MoveTabDown<cr>
nnoremap <leader>dfm :action ToggleDistractionFreeMode<cr>
